@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Claudius College</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Claudius College</h2>
        <p>
            Claudius College is a Personal test application that
            is used personally to test personal knowledge on how to use Entity Framework 6 in an
            ASP.NET MVC 5 web application.
        </p>
    </div>
  
</div>